/* ------------------------------------ *\
    $FONTS
\* ------------------------------------ */

@font-face {
  font-family: 'signature_collection_alt';
  src: url('../fonts/signature-collection-alt-webfont.woff2') format('woff2'), url('../fonts/signature-collection-alt-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'silver_south_serif';
  src: url('../fonts/silver-south-serif-webfont.woff2') format('woff2'), url('../fonts/silver-south-serif-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nexa_book';
  src: url('../fonts/nexa-book-webfont.woff2') format('woff2'), url('../fonts/nexa-book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nexa_book_italic';
  src: url('../fonts/nexa-book-italic-webfont.woff2') format('woff2'), url('../fonts/nexa-book-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nexa_bold';
  src: url('../fonts/nexa-bold-webfont.woff2') format('woff2'), url('../fonts/nexa-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nexa_heavy';
  src: url('../fonts/nexa-heavy-webfont.woff2') format('woff2'), url('../fonts/nexa-heavy-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
