/* ------------------------------------ *\
    $DISPLAY STATES
\* ------------------------------------ */

/**
 * Display Classes
 */
.u-display--inline-block {
  display: inline-block;
}

.u-display--block {
  display: block;
}

.u-display--table {
  display: table;
}

.u-flex {
  display: flex;
}
