/* ------------------------------------ *\
    $SPECIFIC FORMS
\* ------------------------------------ */

input[type=radio],
input[type=checkbox] {
  outline: none;
  margin: 0;
  margin-right: rem(10);
  height: rem(20);
  width: rem(20);
  line-height: rem(20);
  background-size: rem(20);
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  display: block;
  float: left;
  user-select: none;
  -webkit-appearance: none;
  background-color: $c-white;
  border: 1px solid $c-border-color;
  border-radius: 0;
  padding: 0;
}

input[type=radio] + span,
input[type=checkbox] + span {
  display: inline-block;
  top: rem(-2);
  cursor: pointer;
  position: relative;
  width: calc(100% - 35px);
  text-align: left;
}

input[type=radio] {
  border-radius: rem(50);
}

input[type=radio]:checked,
input[type=checkbox]:checked {
  border-color: $c-secondary;
  background: $c-secondary url('../assets/images/icon-checkbox.svg') center center no-repeat;
  background-size: rem(10);
}

button[type=submit] {
  margin-top: $space;
}

select {
  appearance: none;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: "";
  //background: url('../images/icons/icon-arrow-down.svg') center left $space/2 no-repeat;
  background-size: calc($space - 5px);
  padding-left: calc($space*2 - 5px);

  &::-ms-expand {
    display: none;
  }
}
